@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-base: var(--font-inter);
  --font-accent: var(--font-playfair-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-base);
}

h1,
h2,
h3 {
  font-family: var(--font-accent);
  letter-spacing: 0.01rem;
}

h2 {
  @apply text-6xl;
}
h3 {
  @apply text-3xl;
}
p {
  @apply leading-6 tracking-normal;
}
