@import "tailwindcss";

.project__name {
  font-weight: 800;
  margin: 1.4rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
  text-transform: lowercase;
}

.project__tools {
  @apply p-4 py-8 flex flex-wrap gap-4 min-h-fit;
  & > div {
    margin: -0.25rem !important;
  }
}

.project ul,
.project ol {
  list-style: outside;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 36px;
  padding-top: 0;
  margin: 0;
}

.project li {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
