@import "tailwindcss";

.modal__content {
  @apply max-w-full h-screen overflow-auto flex flex-col justify-start bg-mauve-50;
  @media (min-width: 64rem) {
    @apply w-full flex flex-row justify-between;
    & .project {
      display: flex;
      flex-grow: 2;
      min-width: auto;
      max-width: 100%;
      min-height: fit-content;
    }
  }
}
