@import "tailwindcss";

.btn-frame {
  --www: 3.8rem;
  --px: 0.4rem;
  width: 100%;
  position: relative;
  padding: 0;
  display: flex;
  gap: 0;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 999px;

  & .btn-frame__btn {
    width: var(--www);
    margin: var(--px);
    padding: var(--px) calc(var(--px) * 2);
    border: none;
    border-radius: 5rem;
    font-size: 1.04rem;
    @apply bg-mauve-200 hover:bg-mauve-300 border-0 z-2 text-mauve-600 hover:text-mauve-800 lowercase text-center tracking-wider;
  }

  & .btn-frame__btn.btn-frame__btn--selected {
    @apply z-5 text-mauve-100 bg-transparent font-normal;
    transition-delay: 0.2s;
    transition-all: 0.3s ease-in-out;

  }

  & .btn-frame__indicator {

    width: var(--www);
    height: calc(100% - calc(var(--px) * 2));
    box-sizing: border-box;

    @apply absolute z-4 rounded-4xl bg-mauve-500 active:bg-mauve-600 cursor-auto;
    top: var(--px);
  }
}

.btn-frame-long {
  --www: 7rem;
}

.switch-link {
  width: 120%;
  height: 120%;
  transform: translate(-10%, -10%);
  @apply flex justify-center items-center bg-transparent text-center;
}