@import "tailwindcss";

.embla {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 6;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__buttons {
  height: 5rem;
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: center;
  background: transparent;
  justify-content: center;
}

.embla__buttons__bg {
  @apply bg-mauve-50/10 backdrop-blur-sm;

  & img {
    opacity: 0.8;
  }
}
